@charset "utf-8";
/* 全局样式 */
body,h1,h2,h3,ul,p { margin:0;
}
h1,h2,h3{ font-weight: normal;}
body{ 
	font-family: "微软雅黑";
	font-size:14px;
	background:#F7F7F7; 
	color:#333333; 
	border-top:6px solid #F60;
}
ul{ 
	padding:0;
	list-style:none;
}
a{ 
	text-decoration:none;
	color:#000;
}
a:hover{
	color:#f60;	
}
.header, .main{ width:1200px; margin:0 auto; overflow:hidden; }

/* 页头 */   
.header li{
	float:left;
    margin-left:40px;
	margin-top:20px;
}

.header{
	margin:30px auto;
	height: 70px;
}
.header h1 {
	background:url(../images/8_03.png) no-repeat;
	width: 269px;
	height: 62px;
	float:left;
}
.header h1 a{
	display:block;
	width: 269px;
	height: 62px;
	text-indent:-9999px;
}
.header ul{
	float:right; 
    font-size:18px;
}

/* banner部分 */
.banner{
	background:url(../images/8_06.gif) no-repeat center;
	height:550px;
	background-size:cover;
}

/* about部分 */
.about {
	border-bottom:1px solid #bbb; 
	padding-bottom:20px; 
	overflow:hidden;
	margin-top:50px;
}
.about img{
	float:right; 
	margin-left:30px;
}
.about p{
	line-height:2em; 
	margin:20px 0; 
	text-indent:2em;
}

/* news部分 */
.news{
	float:left;
	padding-right:10px; 
	border-right: 1px solid #bbb; 
	width:782px; 
	margin:30px 0;
}
.news a:hover{ text-decoration: underline;}
.news li{
	overflow:hidden; 
	border-bottom:1px dashed #ddd; 
	padding:30px 0;
}
.news img{ float:left;}
.news h3{
	margin-bottom:5px;
	margin-left:110px;
}
.news p{
	margin-left:110px;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	line-height:1.5em;
}


/* partners部分 */
.partners{
	float:right; 
	padding-left:10px; 
	width:397px;	
}
.partners h2{ margin: 30px 10px 20px 20px;}
.partners img{	
	border: 1px solid  #999;
	margin: 5px 0;
	
} 

/* footer部分 */
.footer{
	background:#1F1F1F; 
	text-align:center; 
	color:#fff; 
	padding:50px 0;
}
.footer a{
	color:#fff;
	margin: 0 10px;
}
.footer a:hover{ color:#F60;}
.footer P{ line-height:2.5em;}